{extend name="$BASE_INDEX" /}
{block name="body"}
<div class="warpper otc-bg-white">
  {include file="public/header" /}
  <div class="container no-padding page-space">
    <div class="row page-space ">
      <div class="col-md-9 col-md-push-3">
        <div class="show-solution">
          <div class="group clearfix">
            <div class="group clearfix mobile-hidden">
              <div class="offer-announcement">
                <p>*
                  <a href="#"> OTCBTC 关于支持 ZEC 升级的公告</a>
                </p>
                <p>*
                  <a href="#">OTCBTC 开放 EOS 充值提币公告</a>
                </p>
                <p>*
                  <span>OTCBTC 举办 2018 春季特惠活动，</span>2018年4月12日 0:00 ~ 2018年6月29日 23:59
                  <span> 期间 </span>
                  <a href="#">发布广告免收广告费</a>
                </p>
              </div>
            </div>
          </div>

          <!-- begin group -->
          <div class="group clearfix">
            <div id="pc_group_content" class="long-solution-list">
              <h4 class="header offer-item-mobile-title">更多其他的选择：
                <a class="offer-sort-tab" href="#">价格最低</a>
                |
                <a class="offer-sort-tab" href="#">信用最高</a>

                <!--<span class="tip pull-right">-->
                    <!--<a href="#" target="_blank" rel="noopener noreferrer">列表页与下单页价格不一致？</a>-->
                  <!--</span>-->
              </h4>
              <hr>
              <ul class="list-head">
                <li class="user-name-head">昵称</li>
                <li class="user-trust-head">信用</li>
                <li class="payment-type-head">交易方式</li>
                <li class="minimum-amount-head">交易数量</li>
                <li class="price-head">浮动单价</li>
                <li class="buy-button-head">操作</li>
              </ul>
              <div id="order_list"></div>
            </div>

            <div class="text-center">
              <nav class="pagination-sm">
                <div class="pageTest text-center"></div>
              </nav>
            </div>
          </div>
          <!-- end group -->
        </div>

      </div>
      <div class="col-md-3 col-md-pull-9">
        <div class="timeline-sidebar">
          <div class="clearfix current-rate">
            <div class="box">
              <div class="current-rate-title">
                  <span class="current-rate-currency">
                    EOPS
                  </span>
                <img src="__IMG__/arrow-right-selloffer.png" alt="Arrow right selloffer">
                <span class="current-rate-token">
                    CNY
                  </span>
              </div>


              <h4 class="recent-average-price-title">最新成交均价</h4>
              <p class="recent-average-price">
               {$last_price} CNY
              </p>

              <h4>市场价
                <i class="fa fa-info-circle" aria-hidden="true" data-placement="right"
                   data-toggle="tooltip" title=""
                   data-original-title="平均值:  ( Bitstamp, Coinmarketcap, Bitfinex )"></i>
              </h4>
              <p class="price">
                {$price} CNY
              </p>
              <div class="row otc-trade-line">
                <div class="none-trade-line" id="noChartContainer" style="display:none">
                  <img src="__IMG__/none-trade-line.png" alt="None trade line">
                </div>
                <canvas id="otcCurrencyChart" height="540" width="600"
                        style="display: block; height: 270px; width: 300px;"></canvas>
              </div>

            </div>
          </div>
          <div class="otc-trade-history">
            <p class="otc-trade-history-title">最近交易 </p>
            <ul class="otc-trade-history-head">
              <li class="otc-trade-history-time">时间</li>
              <li class="otc-trade-history-total-price">金额(CNY)</li>
              <li class="otc-trade-history-right-icon">&nbsp;</li>
              <li class="otc-trade-history-amount">数量(BTC)</li>
            </ul>
            {volist name = 'last_order' id = 'val'}
              <ul class="otc-trade-history-content">
                <li class="otc-trade-history-time">{$val['update_time']}</li>
                <li class="otc-trade-history-total-price">{$val['price']}</li>
                <li class="otc-trade-history-right-icon sell">&lt;=</li>
                <li class="otc-trade-history-amount">
                  {$val.amount}</li>
              </ul>
            {/volist}

          </div>

          <div class="trade-faq-content">
            <h4>
              <i class="fa fa-question-circle-o"></i> 常见问题</h4>

            <ul>
              <li>
                <a target="_blank" href="#">如何使用 OTCBTC？</a>
              </li>
              <li>
                <a target="_blank" href="#">如何购买数字币？</a>
              </li>
              <li>
                <a target="_blank" href="#">如何出售数字币？</a>
              </li>
              <li>
                <a target="_blank" href="#">为什么价格比交易所高？</a>
              </li>
              <li>
                <a target="_blank" href="#">什么是浮动价格机制？</a>
              </li>
              <li>
                <a target="_blank" href="#">如何充值？</a>
              </li>
              <li>
                <a target="_blank" href="#">交易币种介绍</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="script"}
<script>
    var bodyWidth = $('body').width(),layerWidth;
    console.log(bodyWidth)
    if(bodyWidth >= 450){
        layerWidth = '50%';
    }else{
        layerWidth = '80%';
    }

    $("[data-toggle='popover']").popover();

    $('#register_btn').on('click', function(){
        layer.open({
            title: '将您的名字注册在区块链上',
            type: 2,
            shade: 0.4,
            area: [layerWidth, '470px'],
            content: './register.html?from=f3d'
        });
    });
    $('#withdraw').on('click', function(){
        layer.open({
            title: '提取',
            type: 2,
            shade: 0.4,
            area: [layerWidth, '220px'],
            content: './withdraw.html?from=f3d'
        });
    });
    // 加键
    $('#choose_add').find('a').on('click', function(){
        var keyVal = parseInt($('#input_key').val());
        var aVal = parseInt($(this).attr('data-val'));
        $('#input_key').val(keyVal + aVal);
    })
    // 选择战队
    $('#choose_team').find('.item').on('click', function(){
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        var teamType = $(this).attr('data-type'); // 战队名称
        console.log(teamType);
    });
    // 倒计时
    $.leftTime("2018/08/15 18:00:00",function(date){
        if(date.status){
            var $dateShow1 = $(".date_show");
            $dateShow1.find(".day").html(date.d);
            $dateShow1.find(".hour").html(date.h);
            $dateShow1.find(".minute").html(date.m);
            $dateShow1.find(".second").html(date.s);
        }
    });

    var pageSize = 10;
    function getDataInit() {
        $.ajax({
            url: getURL('otc/loadList','','otc'),
            data:{
                page: 1,
                rows: pageSize,
            },
            success: function(response){
                var data = response;
                getDataList(data.rows);
                pageEvent(data.total);
            }
        });
    }
    function getData(page) {
        $.ajax({
            url: getURL('otc/loadList','','otc'),
            data:{
                page: page,
                rows: pageSize
            },
            success: function(response){
                var data = response;
                console.log(data.rows)
                getDataList(data.rows);
            }
        });
    }
    function getDataList(data) {
        console.log(data);
        var html = '';
        if (data && data.length > 0) {
            var i = 0, len = data.length;
            for (i;i<len;i++){
                html += '<ul class="list-content">'+
                    '<li class="user-name">';
                if (data[i].avatar) {
                    html += '<img class="img-circle" src="'+data[i].avatar+'" alt="Headimage 6552f95c 8039 4d1c 86e5 665f85b7f5bf" width="28" height="28">';
                } else {
                    html += '<img class="img-circle" src="__IMG__/headimage_6552f95c-8039-4d1c-86e5-665f85b7f5bf.jpeg" alt="Headimage 6552f95c 8039 4d1c 86e5 665f85b7f5bf" width="28" height="28">';
                }
                html +=
                    '<div class="status">'+
                    '<div class="online-warpper">'+
                    '<span class="status light grow light-default"></span>'+
                    '</div>'+
                    '</div>'+
                    '<span>'+data[i].username+'</span>'+
                    '</li>'+
                    '<li class="user-trust">'+
                    '<span class="second-line">信用:&nbsp; '+data[i].id +'</span>'+
                    '<span class="second-line">好评度 99.00%</span>'+
                    '</li>'+
                    '<li class="payment-type">'+
                    '<span class="mobile-head">交易方式</span>';
                switch(data[i].pay_type){
                    case 0:
                        html += '<span class="payment-icon">'+
                                '<img src="__IMG__/payment_wechat.png" alt="Payment wechat">'+
                                '</span>';
                        break;
                    case 1:
                        html += '<span class="payment-icon">'+
                                    '<img src="__IMG__/payment_alipay.png" alt="Payment alipay"></span>';
                        break;
                    case 2:
                        html += '<span class="payment-icon">'+
                                    '<img src="__IMG__/payment_card.png" alt="Payment card">'+
                                    '</span>';
                        break;
                }
                html += '</li>'+
                    '<li class="minimum-amount">'+
                    '<span class="mobile-head">交易数量</span>'+data[i].amount+'<span class="second-line">EOPS</span>'+
                    '</li>'+
                    '<li class="price">'+
                    '<span class="mobile-head">单价</span>'+data[i].price+' <span class="second-line">CNY/EOPS</span>'+
                    '</li>'+
                    '<li class="buy-button">'+
                    '<a class="btn btn-theme" href="{$detail_url}?id='+data[i].id+'">购买</a>'+
                    '</li>'+
                    '</ul>';
            }
            $('#order_list').html(html);
        }
    }
    function pageEvent (total) {
        $('.pageTest').page({
            leng: Math.ceil(total/pageSize),//分页总数
            activeClass: 'active', //active 类样式定义
            clickBack: function (page) {
                getData(page);
            }
        })
    }
    getDataInit(1);

</script>
{/block}